.navbar-cont{
    height: 15vh;
    background: url("../../assets/header-bg.png");
    padding: 20px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navbar-cont img{
    object-fit: contain;
}