/* Container */
.forgot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;

}


/* Box */
.forgot-box {
  background: #1f1f1f;
  padding: 2rem;
  border-radius: 12px;
  max-width: 480px;
  width: 100%;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.forgot-box:hover {
  transform: translateY(-3px);
}

/* Title */
.forgot-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: white;
}

/* Input Groups */
.forgot-form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.forgot-label {
  font-size: 0.95rem;
  font-weight: 600;
  color: #f1f1f1;
}

.required {
  color: #ff4d4d;
  margin-right: 4px;
}

/* Input */
.forgot-input {
  border: 1px solid #444;
  border-radius: 6px;
  padding: 10px;
  font-size: 0.95rem;
  color: white;
  background-color: #2a2a2a;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

.forgot-input:focus {
  border-color: var(--button-color, #ecaa20);
  box-shadow: 0 0 5px rgba(236, 170, 32, 0.4);
  outline: none;
}

/* Button */
.forgot-btn {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: var(--button-color, #ecaa20);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
}

.forgot-btn:hover {
  transform: translateY(-1px);
  background-color: #ffbb33;
}

.forgot-btn.disabled {
  background-color: #555;
  cursor: not-allowed;
  transform: none;
}

.back-login-btn{
    display: flex;
    gap: 6px;
    align-items: center;
    width: fit-content;
}
.back-login-btn:hover{
    text-decoration: underline;
    cursor: pointer;
    color: var(--button-color,#ecaa20);
}
.back-login-btn p{
    font-weight: 300;
    font-size: 12px;
}

/* Spinner Center */
.forgot-btn .spinner {
  margin: 0 auto;
}

.resend-otp-section {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.otp-timer {
  color: #aaa;
  font-size: 0.9rem;
}

.resend-otp-btn {
  background: none;
  color: var(--button-color);
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: color 0.2s ease;
}

.resend-otp-btn:hover {
  color: #f5b84f;
}


@media (max-width: 600px) {
  .forgot-box {
    width: 90%;
    padding: 1.5rem;
  }
}
