.profile-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 20px;
}

.modal-box {
  background: #333;
  color: #f5f5f5;
  border-radius: 10px;
  width: 90%;
  max-width: 700px;
  padding: 25px 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  max-height: 90vh;
  position: relative;
}

.modal-title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--button-color);
}



.section h3 {
  border-left: 4px solid var(--button-color);
  padding-left: 10px;
  margin-bottom: 10px;
  color: var(--button-color);
}
.location-section{
    margin-top: 20px;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 15px;
}

.info-grid p {
  margin: 0;
  font-size: 15px;
}
.info-grid  p strong{
 color : #c5c4c4;
 letter-spacing: 1px;
}

.status.active {
  color: var(--button-color);
  font-weight: 600;
}

.status.inactive {
  color: #ff5252;
  font-weight: 600;
}

/* Toggle button */
.toggle-btn-container {
  text-align: center;
  margin-bottom: 20px;
}

.toggle-btn {
  background: var(--button-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.toggle-btn:hover {
  opacity: .7;
}

.fade-in {
  animation: fadeIn 0.4s ease-in;
}
.close-profile-btn{
    position: absolute;
    color : white;
    background-color: transparent;
    border: none;
    top: 20px;
    right: 20px;
    cursor: pointer;
    
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
