@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.cdnfonts.com/css/termina-test');


*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
  --background-color: #222222;
  --button-color: #ECAA20;
  --secondary-text-color: #DFDFDF;
  --card-color: #353535;
  
}

body{
   background-color: var(--background-color);
   line-height: 1;
}


p{
  font-family: "termina test", sans-serif;
  font-weight: 600;
}