.update-calendar-container {
  max-width: 800px;
  margin: 30px auto;
  background: #1e1e1e;
  color: #f5f5f5;
  padding: 24px 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.update-calendar-title {
  text-align: center;
  font-size: 26px;
  color: white;
  font-weight: 600;
  margin-bottom: 10px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-weight: 600;
  color: #ecaa20;
}

.textarea-input {
  width: 100%;
  background: #2b2b2b;
  border: 1px solid #444;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  font-family: monospace;
  resize: vertical;
}

.text-input {
  width: 200px;
  background: #2b2b2b;
  border: 1px solid #444;
  color: #fff;
  padding: 8px 10px;
  border-radius: 6px;
}

.update-btn {
  background: var(--button-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
  transition: all 0.2s ease;
}

.update-btn:hover {
  opacity: .7;
}

.update-btn:disabled {
  background: #555;
  color: #999;
  cursor: not-allowed;
}
